In [7]:
import pandas as pd

In [20]:
def read_csv_file(file_path):
    try:
        data = pd.read_csv(file_path)
        return data
    except Exception as e:
        return none

file_paths = ["user_payment_record.csv", "createrole_login_record.csv", "user_daily_session_length_record.csv"] 
df_payment = read_csv_file(file_paths[0])
df_login = read_csv_file(file_paths[1])
df_engagement = read_csv_file(file_paths[2])

  appid        date       ctwid  server_id           time  pay_amt
0  test  2024-11-13  23dccf736f          2  1731509951124      100
1  test  2024-11-13  2cac52ff60          3  1731509996850      100
2  test  2024-11-13  af687842ae         43  1731509995400      100
3  test  2024-11-14  44f3cee987         43  1731510028964        1
4  test  2024-11-14  01c6034980          9  1731510053112       79

'createrole_login_record.csv'